<!DOCTYPE html>
<html>
  <%- include ../partial/head %>
  <body>
    <%- include ../partial/menubar %>
    <br><br>
    <form class="" action="/suppliers/add" method="POST">
    <p> Name
        <br>
      <input type="text" name="name" value="" placeholder="Name">
    </p>
    <p> Kota
        <br>
      <input type="text" name="kota" value="" placeholder="Kota">
    </p>
      <input type="submit" value="Save">
    </form>
  </body>
</html>