<style>
    <%- include ../../public/stylesheets/style.css %>
</style>
    <div class="container">
        <p align='center'>
        <a href="/">Home</a>
        <a href="/suppliers">Suppliers</a>
        <a href="/items">Items</a>  
        <a href="/">Search</a>  
        </p> 
    </div>
